<%- include("../partials/header") %>

	<div class="container">
		<h1 style="text-align: center;">Edit Comment</h1>
		
		<form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>/edit?_method=PUT" method="POST" style="width: 30%; margin: 30px auto">
            <div class="input-group mb-3">
				<input class="form-control" type="text" value="<%= comment.text %>" name="comment[text]">
			</div>
			<div class="input-group mb-3">
				<button class="btn btn-lg btn-info btn-block">Submit</button>
			</div>
			<a id=campground-go-back href="/campgrounds">Go Back</a>
		</form>
	</div>

<%- include("../partials/footer") %>